body {
    font-family: "sans-serif";
    font-size: medium;
}

p {
    max-width: 50ex;
}

div {
    padding: 2px;
}

.top_bar {
    display: flex;
    justify-content: space-between;
}

.app_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.text-input {
    grid-column-start: 1;
    grid-column-end: 3;
}

canvas {
    background-color: black;
}

.error {
    color: red;
    font-weight: bold;
}
